[core]
  editor = vim
[color]
  ui = auto
[alias]
  ci = commit
  co = checkout
  br = branch
  st = status
    showtool = "!f() { git difftool $1^ $1; }; f"
    added = difftool --cached
[user]
  name = Alexander L. Belikoff
  email = alexander@belikoff.net
[github]
  user = abelikoff
[push]
  default = simple
[diff]
    tool = icdiff
[difftool]
    prompt = false
[difftool "icdiff"]
    #cmd = /usr/bin/icdiff --line-numbers $LOCAL $REMOTE
    cmd = icdiff --line-numbers $LOCAL $REMOTE
[pager]
    difftool = true
