[core]
	editor = vim
[color]
	ui = auto
[alias]
	ci = commit
	co = checkout
	br = branch
	st = status
[user]
	name = Alexander L. Belikoff
	email = abelikoff@gmail.com
[github]
	user = abelikoff
[push]
	default = simple
