[core]
  editor = vim
[color]
  ui = auto
[alias]
  added = difftool --cached
  br = branch
  ci = commit
  co = checkout
  d = diff -w
  dw = diff --word-diff
  lg = log --graph --decorate --pretty=oneline --abbrev-commit --stat
  showtool = "!f() { git difftool $1^ $1; }; f"
  st = status
[user]
  name = Alexander L. Belikoff
  email = alexander@belikoff.net
[github]
  user = abelikoff
[push]
  default = simple
[diff]
    tool = icdiff
[difftool]
    prompt = false
[difftool "icdiff"]
    cmd = icdiff --line-numbers $LOCAL $REMOTE
[pager]
    difftool = true
